@model ProyectoFinal2020v2.Models.Empleado


@{
    ViewData["Title"] = "Edit";
}

<h4 class="container p-3 my-3 bg-primary text-white text-center rounded-l"><i class="fas fa-pen"></i> Editar Empleado</h4>

<hr />
<div class="container-fluid">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdEmpleado" />
        <div class="column">
            <div class="form-group">
                <label asp-for="Identificacion" class="control-label"></label>
                <input asp-for="Identificacion" class="form-control" placeholder="Ingrese identificacion" />
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Ingrese nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido1" class="control-label"></label>
                <input asp-for="Apellido1" class="form-control" placeholder="Igrese apellido" />
                <span asp-validation-for="Apellido1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido2" class="control-label"></label>
                <input asp-for="Apellido2" class="form-control" placeholder="Igrese apellido" />
                <span asp-validation-for="Apellido2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNac" class="control-label"></label><br />
                <input asp-for="FechaNac" class="form-control" placeholder="Igrese fecha nacimiento" />
                <span asp-validation-for="FechaNac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" placeholder="Igrese N° Telefono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" placeholder="Igrese dirección" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Igrese email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label><br />
                <input asp-for="Sexo" type="radio" name="Sexo" value="M">
                <label asp-for="Sexo">M</label><br>
                <input asp-for="Sexo" type="radio" name="Sexo" value="F">
                <label asp-for="Sexo">F</label><br>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
        </div>
        <div class="column">
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" placeholder="Igrese area" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeEmp" class="control-label"></label>
                <input asp-for="TipoDeEmp" class="form-control" placeholder="Igrese tipo empleado" />
                <span asp-validation-for="TipoDeEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroSocial" class="control-label"></label>
                <input asp-for="NumeroSocial" class="form-control" placeholder="Igrese N° social" />
                <span asp-validation-for="NumeroSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroBancario" class="control-label"></label>
                <input asp-for="NumeroBancario" class="form-control" placeholder="Igrese N° bancario" />
                <span asp-validation-for="NumeroBancario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ccss" class="control-label"></label>
                <input asp-for="Ccss" class="form-control" placeholder="Igrese retencion CCSS" />
                <span asp-validation-for="Ccss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profesion" class="control-label"></label>
                <input asp-for="Profesion" class="form-control" placeholder="Igrese Profesion" />
                <span asp-validation-for="Profesion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaContrato" class="control-label"></label><br />
                <input asp-for="FechaContrato" class="form-control" />
                <span asp-validation-for="FechaContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label><br />
                <input asp-for="Estado" type="radio" name="Estado" value="Activo">
                <label asp-for="Estado">Activo</label><br>
                <input asp-for="Estado" type="radio" name="Estado" value="Inactivo">
                <label asp-for="Estado">Inactivo</label><br>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input id="btnguar" type="submit" @*onclick="confirmarGuardar()"*@ value="Guardar" class="btn btn-primary" /> |
            <button type="submit" class="btn btn-secondary" asp-action="Index">Atrás</button>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
